@model IEnumerable<ProjektVozila.Models.VehicleMake>

@{
    ViewBag.Title = "Marke vozila";
}

<h2>Marke vozila</h2>

<p>
    @Html.ActionLink("Kreiraj novi unos", "Create")
</p>
<table class="table well">
    <tr>
        
        <th class="text-center">
           @Html.ActionLink("Serijski broj marke", "Index", new { sortOrder = ViewBag.IdSortParametar })
        </th>

        <th class="text-center">
            @Html.ActionLink("Naziv marke", "Index", new { sortOrder = ViewBag.MarkaSortParametar })
        </th>

        <th class="text-center">
            Kratica
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
                @Html.ActionLink("Obriši", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
